<strong>Empleado Estrella!</strong>
<ul *ngIf="trabajadorExterno; else trabajadoresInternos">
    <li>{{empleadoExt.nombre}}</li>
</ul>
<ng-template #trabajadoresInternos>
    <li>Lista de trabajadores internos</li>
</ng-template>

<ul>
    @if (trabajadorExterno) {
        <button (click)="cambiarExterno(false)">Mostrar Internos</button>
        <li>{{empleadoExt.nombre}}</li>
    }@else{
        <button (click)="cambiarExterno(true)">Mostrar Externos</button>
        <li>Lista de trabajadores internos</li>
    }
</ul>

<p>menu</p>

<button class="btn btn-primary" (click)="navigateToHome()">Ir a inicio</button>